* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    color: hsl(277, 64%, 61%);
    font-family: 'Lexend Deca','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
    padding: 10px;
    text-align: center;
}

.attribution a {
    color: rgb(131, 2, 223);
}

.bold {
    font-family: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

body {
    height: 100vh;
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    background-color: hsl(244, 38%, 16%);
    font-family: 'Lexend Deca', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
}

img {
    height: 100%;
    opacity: 0.5;
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
}

.img-container {
    background-color: hsl(277, 64%, 61%);
    width: 50%;
}

.img-container, img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accent {
    color: hsl(277, 64%, 61%);
}

.card p {
    margin-top: 25px;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.stat-heading {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
}

.stats-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 80%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 900px) {
    .card, .text-container, .stats-container {
        flex-direction: column;
    }
    .card { 
        margin-top: 200px;
        max-width: 400px;
        text-align: center;
    }

    .img-container, .text-container {
        width: 100%;
    }

    .img-container, img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .text-container {
        padding: 30px;
    }
    
    p {
        margin-top: 10px;
    }

    .stat {
        margin-top: 15px;
    }

    .stats-container {
        margin-top: 35px;
    }

    .stat-heading {
        padding: 5px;
    }
}