* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #e0e8ff;
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  background-position-x: -200px;
  text-align: center;
  font-family: "Red Hat Display", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.container {
  background-color: #f5f7ff;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0px 20px 28px 0px #bcb3b3;
}

.img-container {
  width: 100%;
}

.img-container img {
  display: block;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.txt-container {
  padding: 30px 50px;
}

.txt-container h3 {
  font-size: 2rem;
  color: #1f2f56;
}

.description-container p {
  color: #7280a7;
  padding: 10px 20px;
}

.order-container, .icon-container, .plan-container {
  display: flex;
  align-items: center;
}

.order-container {
  background-color: rgba(224, 232, 255, 0.352);
  justify-content: space-between;
  padding: 20px 15px;
  margin: 15px 5px;
  border-radius: 10px;
}

.order-container a {
  color: #3829e0;
}

.plan-container p {
  padding-left: 10px;
  text-align: left;
}

.plan-container p:nth-child(1) {
  color: #1f2f56;
  font-weight: 900;
  padding-bottom: 5px;
}

.plan-container p:nth-child(2) {
  color: #7280a7;
}

.blue-btn {
  background-color: #3829e0;
  color: #f5f7ff;
  font-weight: 700;
  padding: 15px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0px 15px 10px 5px #cecece;
}

.cancel-btn {
  color: #7280a7;
  font-weight: 700;
  margin-top: 30px;
}

.cancel-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 530px) {
  body {
    overflow-y: scroll;
    background-image: url("./images/pattern-background-mobile.svg");
  }

  .txt-container {
    padding: 30px 15px;
  }

  .container {
    margin: 10vh 20px;
  }
}

